@import './../../../colors';

i{
    color: $pink;
}

.logo{
    font-size: 32px;
    font-family: Bebas Neue, sans-serif;
    font-weight: bold;
    color: $salmon;
    user-select: text;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.hub{
    color: $pink;
}