<div class="container">
    <div class="text-main">
        Najlepsze korepetycje online
    </div>
    <div class="text-section">
        <p>Witaj w świecie, gdzie nauka staje się pasją, a edukacja jest dostosowana do Twojego tempa.</p>
        <p>Z KorkoHub, każdy temat staje się przystępny, a każda trudność przekształca się w możliwość.</p>
    </div>
    <div class="opinion-section">
        <div class="opinion-container">
            <div class="opinion-box">
              <p class="opinion-text">"Świetna strona! Znajduję tutaj wszystko, czego potrzebuję. Polecam każdemu!"</p>
              <p class="opinion-author">- Jan Kowalski</p>
            </div>
        </div>
        <div class="opinion-container">
            <div class="opinion-box">
              <p class="opinion-text">"Świetna strona! Znajduję tutaj wszystko, czego potrzebuję. Polecam każdemu!"</p>
              <p class="opinion-author">- Jan Kowalski</p>
            </div>
        </div>
        <div class="opinion-container">
            <div class="opinion-box">
              <p class="opinion-text">"Świetna strona! Znajduję tutaj wszystko, czego potrzebuję. Polecam każdemu!"</p>
              <p class="opinion-author">- Jan Kowalski</p>
            </div>
        </div>
    </div>
    <div class="button-custom">
        <i class="fa-solid fa-graduation-cap left"></i><button (click)="onRedirect()" class="button-custom" mat-button>Odkryj Potęgę Wiedzy z Korko<span class="hub">Hub</span>!</button><i class="fa-solid fa-graduation-cap right"></i>
    </div>
</div>